# IDE et éditeurs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace


# Huge files
*.safetensors
*.pth
phonetique/*.pdf
image/*.pdf
repas/*.pdf
travail/*.pdf


# EXCEPTION: Garder le Python embedded du projet
!ComfyUI_windows_portable/python_embeded/
